<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.banco_friedrichdesignConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\banco_friedrichdesign.mdb;Persist Security Info=True;Jet OLEDB:Database Password=zkzpzc0073"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.banco_friedrichdesignConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\HP usuario\Dropbox\Sistema Julio\Hospedagem\banco_friedrichdesign.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.banco_friedrichdesignConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\HP usuario\Dropbox\Sistema Julio\Hospedagem\banco_friedrichdesign.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>